<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="
	   http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd
	      http://www.springframework.org/schema/tx 
	   http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/mvc 
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	   
	   <mvc:annotation-driven></mvc:annotation-driven>
	   
	   
	   <tx:annotation-driven transaction-manager="mytransactionManager"/>
	   
	   <context:component-scan base-package="com.cskaoyan"></context:component-scan>
	   
	   <bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="mydatasource"></property>
	        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
	   </bean>
	   
	   
	   <bean id="mydatasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	      <property name="user" value="root"></property>
	      <property name="password" value="123456"></property>
	      <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	      <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mywebstore"></property>
	   </bean>
	   
	   <bean class="org.mybatis.spring.mapper.MapperFactoryBean">
	      <property name="mapperInterface" value="com.cskaoyan.dao.UserDao"></property>
	      <property name="sqlSessionFactory" ref="mySqlSessionFactory"></property>
	   </bean>
	   
	   <bean id="mytransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	       <property name="dataSource" ref="mydatasource"></property>
	   </bean>
	   
</beans>
